body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/img4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo img {
    height: 100px;
    width: 167px;
}

.header {
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2 {
    font-size: 32px;
    color: #ffffff;
    margin-top: 0;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: #ffffff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: #444;
}

.input_box {
    margin-bottom: 25px;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #ffffff;
    background-color: #e16e0a;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #ff5121;
    cursor: pointer;
}

.support {
    display: flex;
    color: #fef1f1;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #e8e3e3;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.footer img {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #ffd7d7;
} 


.terms p {
    color: #ffffff; 
}


.sign_up p {
    color: #ffffff; 
}


